@import url(sideberryMods.css);

/* https://github.com/mbnuqw/sidebery/wiki/Firefox-Styles-Snippets-(via-userChrome.css) */

/* #TabsToolbar { */
#main-window[titlepreface*="[Sidebery]"] #TabsToolbar {
  display: none;
}

/* #main-window #TabsToolbar {
  height: 29px !important;
  overflow: hidden;
  transition: height .3s .3s !important;
}
#main-window[titlepreface*="[Sidebery]"] #TabsToolbar {
  height: 0 !important;
}
#main-window[titlepreface*="[Sidebery]"] #tabbrowser-tabs {
  z-index: 0 !important;
} */

#sidebar-header {
  display: none;
}
